* {
  font-family: "Segoe UI", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
/* Layout utama */
.dashboard-container {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
  background: #f2f2f2;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: #294b73;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
}

.sub-title {
  margin-top: -5px;
  margin-bottom: 40px;
  opacity: 0.8;
}

/* Menu */
.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    color: #ffffff;
}

.menu-item.active {
  background: #bfc2c4;
  color: #294b73;
  border-radius: 6px;
}

/* Logout */
.logout-btn {
  margin-top: auto;
  font-size: 18px;
  cursor: pointer;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px 40px;
  overflow-y: auto;
}

/* Header */
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3d6d94;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.role-box {
  background: white;
  padding: 8px 16px;
  border-radius: 6px;
  color: #3d6d94;
  font-weight: bold;
}

/* Top Cards */
.top-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.status-card,
.info-card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.btn-ajukan {
  margin-top: 15px;
  padding: 10px 15px;
  background: #2b4e77;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Announcement card */
.info-card p {
  margin-top: 10px;
}

/* History Section */
.history-section {
  margin-top: 30px;
}

.history-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.history-box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-title {
  font-weight: bold;
}

.detail-btn {
  padding: 8px 16px;
  background: #d1d1d1;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.filter-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
