.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;              
  justify-content: center;    
  align-items: center;        
  background: rgba(0, 0, 0, 0.5);
}

.modal-box {
  width: 800px;
  height: 500px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgb(0, 0, 0);
  border: none;
  font-size: 13px;
  cursor: pointer;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100%;
  position: center;
}

.left-side {
  flex: 1;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.left-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.left-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.logo-atas {
  width: 180px;
  margin-bottom: 30px;
}

.logo-bawah {
  width: 350px;
  margin-bottom: 10px;
}

.right-side {
  flex: 1;
  background: #98b7d5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-side form {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 1rem;
}

.right-side input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
}

.right-side button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    padding: 0;
}