/* LAYOUT UTAMA */
.layout {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    margin-left: 0;
}

.right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background-color: #17375E;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-logo {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}

.sidebar-subtitle {
    font-size: 13px;
    opacity: 0.8;
    margin-bottom: 40px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.menu-item {
    padding: 12px 16px;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    color: #ffffff;
}

.menu-item:hover {
    background: rgba(255,255,255,0.15);
}

.menu-item.active {
    background: #f0f0f0;
    color: #23406a;
    font-weight: 600;
}

.menu-item.disabled {
    background: #b3c1d6;
    color: #fff;
    cursor: default;
}

.logout {
    margin-top: auto;
    padding-top: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.logout:hover {
    opacity: 0.7;
}

/* TOPBAR & MAIN */
.topbar {
    background: #0A2F52;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-title {
    font-size: 20px;
    font-weight: 600;
}

.topbar-sub {
    font-size: 13px;
    opacity: 0.9;
}

.topbar-right {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 13px;
}

.role-pill {
    background: #1c4c63;
    border-radius: 3px;
    padding: 4px 10px;
}

.main {
    flex: 1;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
}

.main-content {
    flex: 1;
    padding: 20px;
    width: 100%;
    overflow-y: auto;
    background-color: #059ca9;
}

.main-content p {
  color: #000;
}


/* CARD & STEPPER */
.card {
    width: 100%;
    margin: 0;
    background: #ffffff;
    border-radius: 4px;
    padding: 16px 18px;
    box-shadow: 0 0 2px rgba(0,0,0,0.08);
}

.card-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #000000;
}

.card-subtitle {
    font-size: 13px;
    margin-bottom: 16px;
    color: #000000;
}